.career-path {
  h2 {
    font-family: "Open Sans", sans-serif;
  }
  position: relative;
  h4 {
    font-size: 18px;
    font-weight: normal;
    text-align: center;
    margin-bottom: 20px;
    color: $medium-gray;
  }
  .current-position {
    .current-position-header {
      background-color: $blue;
      font-size: 18px;
      color: $white;
      font-weight: 600;
      -webkit-border-top-left-radius: 4px;
      -webkit-border-top-right-radius: 4px;
      -moz-border-radius-topleft: 4px;
      -moz-border-radius-topright: 4px;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      border: 1px;
    }
    .card-header {
      h2 {
        font-size: 16px;
        color: $dark;
        font-weight: 600;
        text-decoration: none;
        a {
          font-size: 12px;
          margin-left: 30px;
        }
      }
    }
    .card-body {
      h5 {
        font-weight: 600;
        font-size: 16px;
        margin-bottom: 15px;
        margin-top: 20px;
        a {
          text-decoration: none;
        }
      }
      .future-position-form {
        label {
          color: gray;
        }
        select.form-control {
          font-size: 13px;
          color: $gray;
          height: 40px;
        }
      }
    }
    .accordion {
      p {
        margin-bottom: 0;
      }
      .card {
        border: 0;
        .card-header {
          padding: 0;
          h2 {
            padding: 14px 20px;
            font-family: "Open Sans", sans-serif;
            margin-top: 0;
            display: flex;
            justify-content: space-between;

            &:after {
              content: "-";
              right: 20px;
              font-size: 20px;
              // font-family: "Font Awesome 5 Free";
              height: 20px;
              width: 20px;
              display: flex;
              align-items: center;
              justify-content: center;
            }
          }
          .collapsed {
            &:after {
              content: "+";
              font-size: 16px;
            }
          }
        }

        .card-body {
          font-size: 13px;
          line-height: 17px;
          .custom-radio {
            margin-bottom: 20px;
            label {
              font-size: 13px;
              strong {
                font-weight: 600;
              }
            }
          }
        }
      }
    }
  }
  .carousel-control-prev-icon {
    background-image: none;
  }
  .future-position {
    .current-position-header {
      background-color: $light-green;
    }
    .btn-add {
      background-color: transparent;
      border: 1px solid $light-green;
      margin-bottom: 10px;
      color: $light-green;
      font-weight: 600;
      text-transform: uppercase;
      padding: 5px 20px;
      font-size: 14px;
      &:hover {
        background-color: $light-green;
        border: 1px solid $light-green;
        color: $white;
      }
    }
    label {
      font-size: 13px;
      font-weight: 100;
    }
  }
  .current-position-badge {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    left: -109px;
    top: 45px;
    height: 44px;
    background-color: $blue;
    color: $white;
    text-decoration: none;
    font-weight: 600;
    padding: 10px 10px;
    font-size: 13px;
    opacity: 1;

    width: 125px;
    &:after {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      left: -22px;
      border-right: 22px solid $blue;
      border-top: 22px solid transparent;
      border-bottom: 22px solid transparent;
      top: 0;
    }
  }
  .future-position-badge {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    right: -100px;
    top: 45px;
    // right: -22px;
    height: 44px;
    color: $white;
    text-decoration: none;
    font-weight: 600;
    padding: 10px 10px;
    font-size: 13px;
    background-color: $light-green;
    width: 116px;
    opacity: 1;
    &:after {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      right: -22px;
      border-left: 22px solid $light-green;
      border-top: 22px solid transparent;
      border-bottom: 22px solid transparent;
      top: 0;
    }
  }
}

.tab-pane {
  .nav {
    .nav-link {
      font-size: 16px;
      font-weight: 600;
      background-color: transparent;
      color: $dark;
    }
    .active {
      background-color: transparent !important;
      color: $blue !important;
      span {
        text-decoration: underline;
      }
    }
  }
}
