.bg-light-custom {
  background-color: $gray-bg;
  padding: 20px;
  border-radius: 6px;
  border: 1px solid $fade-gray;
  padding-top: 40px;
}
.navbar {
  .dropdown-toggle {
    color: $gray;
    .user-profile {
      height: 45px;
      width: 45px;
      border-radius: 50%;
      border: 1px solid $medium-gray;
      color: $light-gray;
      text-align: center;
      line-height: 30px;
      position: relative;
      margin-right: 10px;
      span {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        font-size: 16px;
        font-weight: 500;
        color: $medium-gray;
      }
    }
    .fas {
      color: $medium-gray;
    }
    display: flex;
    align-items: center;
    &:after {
      display: none;
    }
    &:hover {
      color: $medium-gray;
    }
  }
  .dropdown-menu {
    &:before {
      display: none;
    }
  }
}
.recommend-learning {
  font-family: "Open Sans", sans-serif;

  p {
    font-size: 13px;
    line-height: 17px;
  }

  h4 {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: bold;
  }
  .dashboard-right-side {
    margin-left: 105px;
    position: relative;
    .dashboard-dropdown {
    }
    header {
      position: relative;
      .dashboard-header {
        width: 100%;
      }
      .navbar {
      }
    }
    .btn-group {
      width: 100px;
    }
    .login-steps {
      margin-top: 70px;
      margin-bottom: 100px;
    }
    h2 {
      font-family: "Open Sans", sans-serif;
      font-size: 22px;
      font-weight: 600;
      margin-top: 30px;
      margin-bottom: 15px;
    }
  }
  .dashboard-left-side {
    max-width: 100px;
    height: 100vh;
    position: fixed;

    .nav {
      padding-top: 130px;
      height: 100vh;
      .nav-link {
        padding: 20px;
        display: block;
        position: relative;
        border-radius: 0;
        border-right: 1px solid transparent;
        .badge {
          position: absolute;
          right: 27px;
          top: 19px;
        }
        img {
          width: 15px;
        }
        .fas {
          color: $gray;
          font-size: 24px;
        }
      }
      .active {
        background-color: transparent;
        border-right: 1px solid $blue;
        .fas {
          color: $blue;
        }
      }
    }
  }
  .chain-management-master {
    p {
      color: $medium-gray;
      span {
        color: $defult;
        font-weight: bold;
      }
    }
    .feedback {
      .lni {
        color: $orange;
        font-size: 18px;
      }
    }
  }
  .additional-info {
    h6 {
      font-size: 15px;
      font-weight: 600;
    }
    p {
      color: $medium-gray;
    }
  }
  .tab-pane {
  }
}
