/* ==========================================================================
3. Hero Area
========================================================================== */
#hero-area {
  background: url(../img/backfin.jpg) no-repeat top right;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  .contents {
    .head-title {
      color: #222222;
      font-size: 42px;
      font-weight: 700;
      line-height: 60px;
      margin-bottom: 10px;
    }
    .header-button {
      margin-top: 20px;
      color: #222222;
      .btn {
        margin-right: 10px;
      }
    }
  }
}

.sloder-img {
  background: #34363a;
}
