//All Preset color variables are here

// Defult color
$defult: #0099ff;
$blue: #1477fc;
$light-blue: #3edaf7;
$yellow: #e6ed37;
$parrot: #83f521;
$green: #11db57;
$light-green: #7ed327;
$light-gray: #e5e5e5;
$gray: #ccc;
$medium-gray: #999;
$white: #fff;
$dark: #333;
$orange: #fca64e;
$fade-gray: #ebedf8;
//Current Preset Declareation
$preset: $defult;
