//All Preset color variables are here

// Defult color
$defult: #0099ff;
$blue: #5064d5;
$light-gray: #e5e5e5;
$gray: #ccc;
$medium-gray: #999;
$white: #fff;
//Current Preset Declareation
$preset: $defult;
